server:
  http_listen_port: <%= @grafana_agent_port %>
  log_level: <%= @log_level %>

prometheus:
  wal_directory: "<%= @base_dir %>/prom_wal"
  global:
    scrape_interval: <%= @scrape_interval %>
  configs:
    - name: <%= @otp_app %>
      scrape_configs:
        - job_name: <%= @otp_app %>
          metrics_path: <%= @metrics_server_path %>
          bearer_token: "<%= @prometheus_auth_token %>"
          static_configs:
            - targets: ["127.0.0.1:<%= @metrics_server_port %>"]
          metric_relabel_configs:
            - source_labels: [ instance ]
              target_label: instance
              action: replace
              replacement: "<%= @hostname %>"

      remote_write:
        - url: "<%= @prometheus_url %>"
          basic_auth:
            username: "<%= @prometheus_username %>"
            password: "<%= @prometheus_password %>"
