<main role="main" class="container">
  <p class="alert alert-info" role="alert"><%= Phoenix.Flash.get(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= Phoenix.Flash.get(@conn, :error) %></p>
  <%= @inner_content %>
</main>
